#footerwrap {
	background: #2b2b2b;
	margin-top: 0px;
	padding-top: 40px;
	padding-bottom: 20px;
    text-align: left;
    color: white;
    border-top: 4px solid $accent;
}

#footerwrap h5 {
	color: white;
    text-align: center;
}

.footnote {
    color: white;
}

.footnote2 {
    color: white;
    text-align: center;
}
