//nav

.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    color: $accent;
    background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    color: $accent;
    background-color: transparent;
        border-bottom: 2px solid $accent;
}

.navbar-custom .nav li.active {
    outline: 0;
    color: $accent;
}

.navbar-custom .nav li.active a {
    background-color: $accent;
}

.navbar-custom .nav li.active a:hover {
    color: $accent;
}

#container-border{
        border-bottom: 2px solid $accent;
}

